{% extends "layout.html" %}

{% block title %}

<title>Serverside Table</title> 
{% endblock %}

{% block body %}

<script type="text/javascript" src="/static/serverside_table.js"></script>

<div class="container">
  <table id="table_id">
    <thead>
      <tr>
        <th>seqid</th>
        <th>target_sp</th>
        <th>target_ep</th>
        <th>pam_seq</th>
        <th>strand</th>
        <th>target</th>
        <th>distaltopam</th>
        <th>proxitopam</th>
        <th>accession_x</th>
        <th>start_x</th>
        <th>stop_x</th>
        <th>type_x</th>
        <th>strand_for_feature_x</th>
        <th>locus_tag_x</th>
        <th>db_xref_x</th>
        <th>protein_id_x</th>
        <th>translation_x</th>
        <th>product_x</th>
        <th>product_name_confidence_x</th>
        <th>name_x</th>
        <th>product_synonym_x</th>
        <th>note_x</th>
        <th>gene_synonym_x</th>
        <th>distance_x</th>
        <th>accession_y</th>
        <th>start_y</th>
        <th>stop_y</th>
        <th>type_y</th>
        <th>strand_for_feature_y</th>
        <th>locus_tag_y</th>
        <th>db_xref_y</th>
        <th>protein_id_y</th>
        <th>translation_y</th>
        <th>product_y</th>
        <th>product_name_confidence_y</th>
        <th>name_y</th>
        <th>product_synonym_y</th>
        <th>note_y</th>
        <th>gene_synonym_y</th>
        <th>distance_y</th>
      </tr>
    </thead>
  </table>
</div>

{% endblock %}