{% extends "layout.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>
<body>
<div class="container">
  <div>Output Table</div>  
  <div id="mytablediv"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
          var table = null;
          $.getJSON('/_get_table',
          function(data) {
            if (table !== null) {
              table.destroy();
              table = null;
            $("#output_table").empty();
            }
            $("#mytablediv").html(data.my_table);
            table = $("#output_table").DataTable({ "deferRender": true });
            console.log(table)
            });
            return false;
        });
</script>
</body>

{% endblock %}