{% extends "layout.html" %}

{% block content %}

<head>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>
<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="col-sm-5 col-sm-offset-1">
            <div id="mytablediv">
            {% for table in tables %}
            {{ table|safe }}
            {% endfor %}
           </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
        var table = null;
        $('a#calculate').bind('click', function() {
          $.getJSON('/_get_table', {
            a: $('input[name="a"]').val(),
            b: $('input[name="b"]').val()
          }, function(data) {
            $("#elements").text(data.number_elements);
            if (table !== null) {
              table.destroy();
              table = null;
              $("#output_table").empty();
            }
            $("#mytablediv").html(data.my_table);
            table = $("#output_table").DataTable();
          });
          return false;
        });
      });
</script>

{% endblock %}